*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


/* ========== Footer Styling ============= */

.footerContainer{
  background-color: rgb(255, 226, 231);
}

.footer{
  width:90%;
  margin:auto;
}

.footerUpperContainer{
  align-items: center;
  justify-content: space-between;
}

.infoMenu{
  color: rgb(34, 34, 34);
}

.infoMenu:hover{
  color: rgb(66, 66, 66);
}


/* ================= COMPONENTS ================ */

/* *********** buttons *************/

.ghostBtn{
  border-radius: 50px;
  background-color: white;
  padding: 5px 10px;
}

.solidBtn:hover{
  background-color: white;
  color: black;
}


/* ********** SOCIAL ICONS ************ */

.socialIcons:hover{
  color: rgb(63, 63, 63);
}