*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


/* ========== Footer Styling ============= */

.footerContainer{
  background-color: rgb(255, 226, 231);
}

.footer{
  width:90%;
  margin:auto;
}

.footerUpperContainer{
  align-items: center;
  justify-content: space-between;
}

.infoMenu{
  color: rgb(34, 34, 34);
}

.infoMenu:hover{
  color: rgb(66, 66, 66);
}


/* ================= COMPONENTS ================ */

/* *********** buttons *************/

.ghostBtn{
  border-radius: 50px;
  background-color: white;
  padding: 5px 10px;
}

.solidBtn:hover{
  background-color: white;
  color: black;
}


/* ********** SOCIAL ICONS ************ */

.socialIcons:hover{
  color: rgb(63, 63, 63);
}



/* =========== Banner Home ============== */

.bannerHome{
  margin: 100px auto;
  max-height: 200px;
  width: 90%;
  justify-content: space-between;
  position: relative;
  background-color:rgb(255, 234, 255);
}

.bannerHeading{
  padding: 30px;

}

.travelChoiceBanner{
  background: repeat-y right/75% url(https://static.tacdn.com/img2/brand/feed/tc_cards_mobile.jpeg);
  height: 80vh;
  background-color: rgb(0, 80, 48);
  color: #fff;
}
