.headerContainer{
    width:90%;
    height: 50vh;
    margin:auto;
    background-color: lightpink;
    background-image: url(https://static.tacdn.com/img2/brand/home/homemar2022_dt_trans@2x.webp);
    background-repeat: no-repeat;
    background-size: cover;
}